@font-face {
    font-family: 'Gotham Pro';
    src: url(GothamPro.ttf);
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
}

.enps{
    width: 730px;
    height: 900px;
    padding: 15px;
    margin: auto;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #555;
}

.enps__form{
    margin: 0 auto 100px;
}

.enps__pie-chart{
    margin: 0 auto 80px;
}

.enps__results{
    margin: 0 auto;
}

.form{
    width: 100%;
    font-family: 'Gotham Pro', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;   
}

.form__label{
    font-size: 16px;
    color: #555;
    word-break: break-all;
    margin-top: auto;
}

.form :last-child{
    margin: auto 0;
}

.form__text{
    width: 130px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    line-height: 35px;
    color: #555;
    font-size: 16px;
}

.form__text:focus{
    border: 1px solid rgb(163, 163, 163);
}

.form__submit{
    width: 130px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    line-height: 35px;
    color: #555;
    font-size: 16px;
    cursor: pointer;
}

.form__submit:hover{
    background-color: rgb(230, 230, 230);
}

.form__submit:active{
    background-color: rgb(177, 177, 177);
}

.pie-chart{
    width: 400px;
    height: 400px;
    position: relative;
}

.pie-chart__svg{
    width: 100%;
    height: 100%;
    transform: rotate(-71deg);
    position: absolute;
    top: 0;
    left: 0;
}

.pie-chart__base{
    fill: transparent;
    stroke: #ececec;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 314.15;
    stroke-dashoffset: 33;
}

.pie-chart__promoter{
    fill: transparent;
    stroke: #70a84b;
    stroke-width: 3.5px;
    stroke-linecap: round;
    stroke-dasharray: 314.15; /* от 314.15 до 50 */
    stroke-dashoffset: 314.15;
    transition: stroke-dashoffset 1500ms ease-out;
}

.pie-chart__skeptic{
    fill: transparent;
    stroke: #fcd329;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray: 314.15; /* от 314.15 до 50 */
    stroke-dashoffset: 314.15;
    transition: stroke-dashoffset 1500ms ease-out;
}

.pie-chart__critic{
    fill: transparent;
    stroke: #d6442e;
    stroke-width: 4.5px;
    stroke-linecap: round;
    stroke-dasharray: 314.15 314.15; /* от 314.15 до 50 */
    stroke-dashoffset: 314.15;
    transition: stroke-dashoffset 1500ms ease-out;
}

.pie-chart__flag{
    width: 65px;
    fill: #ddd;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.pie-chart__text{
    width: 100%;
    height: 100%;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pie-chart__percent-whole{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 80px;
    position: relative;
    letter-spacing: -2px;
    line-height: 60%;
}

.pie-chart__percent-decimal{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 40px;
}

.pie-chart__percent-whole::after{
    font-family: 'Gotham Pro', sans-serif;
    content: '%';
    font-size: 28px;
    color: #888;
    position: absolute;
    top: -20px;
    right: 0;
}

.pie-chart__loyalty{
    font-size: 35px;
    font-weight: 600;
    line-height: 130%;
}

.pie-chart__level{
    font-size: 28px;
    font-weight: 600;
    color: #fcd329;
    line-height: 130%;
    letter-spacing: -1px;
}

.pie-chart__segment{
    font-size: 18px;
    color: #888;
    line-height: 120%;
}

.pie-chart__difference{
    font-size: 28px;
    color: #70a84b;
    position: relative;
    padding-left: 35px;
    line-height: 200%;
}

.pie-chart__difference::before{
    content: '◤';
    position: absolute;
    top: 3px;
    left: 0;
    transform: rotate(45deg);
}

.results{
    width: 390px;
    display: grid;
    gap: 20px;
}

.results__item{
    display: grid;
    grid-template-columns: 3fr 1.7fr 2fr;
    gap: 10px;
}

.results__item :first-child{
    margin-right: auto;
}

.results__item :last-child{
    margin-left: auto;
}

.results__category{
    padding: 5px;
    font-size: 22px;
    font-weight: 600;
    word-break: break-all;
}

.results__amount{
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: right;
}

.results__users{
    font-size: 18px;
    position: relative;
    color: #999;
    padding-right: 20px;
}

.results__users::after{
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    right: -4px;
    background: url(human.svg) no-repeat;
}

.bar-chart{
    width: 130px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(201, 201, 201);
    position: relative;
}

.bar-chart__svg{
    
}

.bar-chart__difference{
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}



.bar-chart__base{
    width: 100%;
    height: 100%;
    fill: rgb(240, 240, 240);
}

.bar-chart__promoter-new,
.bar-chart__promoter-last,
.bar-chart__skeptic-new,
.bar-chart__skeptic-last,
.bar-chart__critic-new,
.bar-chart__critic-last{
    width: 0%;
    transition: width 1000ms;
}

.bar-chart__promoter-new{
    fill: #70a84b;
}

.bar-chart__promoter-last{
    fill: #abd191;
}

.bar-chart__skeptic-new{
    fill: #fcd329;
}

.bar-chart__skeptic-last{
    fill: #fde999;
}

.bar-chart__critic-new{
    fill: #d6442e;
}

.bar-chart__critic-last{
    fill: #f59d90;
}

@media (max-width: 768px) {
    html{
        font-size: 10px;
    }

    .enps{
        width: 430px;
    }

    .enps__form,
    .enps__pie-chart{
        margin-bottom: 60px;
    }

    .form{
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .form__text{
        width: 70px;
    }

    .pie-chart{
        width: 300px;
        height: 300px;
    }

    .results{
        width: 300px;
    }

    .results__users::after{
        width: 10px;
        height: 10px;
    }

    .pie-chart__flag{
        width: 60px;
        top: -30px;
    }

    .pie-chart__text{
        padding-top: 20px
    }
}