@font-face {
    font-family: 'Gotham Pro';
    src: url(GothamPro.ttf);
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
}

.enps{
    width: 730px;
    height: 900px;
    padding: 15px;
    border-radius: 30px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #555;
}

.enps__form{
    margin: 0 auto 100px;
}

.enps__pie-chart{
    margin: 0 auto 80px;
}

.enps__results{
    margin: 0 auto;
}

.form{
    width: 100%;
    font-family: 'Gotham Pro', sans-serif;
    display: grid;
    gap: 10px;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.form__label{
    font-size: 16px;
    color: #555;
    word-break: break-all;
    margin-top: auto;
}

.form__text{
    width: 80%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    font: 16px/35px 'Gotham Pro';
    color: #555;
}

.form__text:focus{
    border: 1px solid rgb(174, 174, 174);
}

.form__submit{
    height: 35px;
    padding: 0 10px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    font: 16px/35px 'Gotham Pro';
    color: #555;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
    grid-column: -2 / -1;
    grid-row: 2 / 3;
    justify-self: end;
}

.form__submit:hover{
    background-color: rgb(230, 230, 230);
}

.form__submit:active{
    background-color: rgb(177, 177, 177);
}

.pie-chart{
    width: 400px;
    height: 400px;
    position: relative;
}

.pie-chart__svg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-71deg);
}

.pie-chart__base{
    fill: transparent;
    stroke: #ececec;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 314.15;
    stroke-dashoffset: 33;
}

.pie-chart__promoter{
    fill: transparent;
    stroke: #70a84b;
    stroke-width: 3.5px;
    stroke-linecap: round;
    stroke-dasharray: 314.15; /* от 314.15 до 50 */
    stroke-dashoffset: 314.15;
    transition: stroke-dashoffset 1500ms ease-out;
}

.pie-chart__skeptic{
    fill: transparent;
    stroke: #fcd329;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray: 314.15; /* от 314.15 до 50 */
    stroke-dashoffset: 314.15;
    transition: stroke-dashoffset 1500ms ease-out;
}

.pie-chart__critic{
    fill: transparent;
    stroke: #d6442e;
    stroke-width: 4.5px;
    stroke-linecap: round;
    stroke-dasharray: 314.15 314.15; /* от 314.15 до 50 */
    stroke-dashoffset: 314.15;
    transition: stroke-dashoffset 1500ms ease-out;
}

.pie-chart__flag{
    fill: #ddd;
    width: 65px;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.pie-chart__text{
    width: 100%;
    height: 100%;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pie-chart__percent-whole{
    font: 80px/60% 'Gotham Pro';
    position: relative;
}

.pie-chart__percent-decimal{
    font: 40px 'Gotham Pro';
}

.pie-chart__percent-whole::after{
    content: '%';
    font: 28px 'Gotham Pro';
    color: #888;
    position: absolute;
    top: -20px;
    right: 0;
}

.pie-chart__loyalty{
    font: 600 35px/130% Arial;
}

.pie-chart__level{
    font: 600 28px/130% Arial;
    color: #fcd329;
}

.pie-chart__segment{
    font: 18px/120% Arial;
    color: #888;
}

.pie-chart__difference{
    padding-left: 35px;
    font: 28px/200% Arial;
    color: #70a84b;
    position: relative;
}

.pie-chart__difference::before{
    content: '◤';
    position: absolute;
    top: 3px;
    left: 0;
    transform: rotate(45deg);
}

.results{
    width: 390px;
    display: grid;
    gap: 20px;
}

.results__item{
    display: grid;
    grid-template-columns: 3fr 1.5fr 3fr;
    gap: 10px;
}

.results__item :first-child{
    margin-right: auto;
}

.results__item :last-child{
    margin-left: auto;
}

.results__category{
    padding: 5px 0;
    font: 600 22px Arial;
    word-break: break-all;
}

.results__amount{
    padding: 5px 0;
    font: 600 18px/120% Arial;
    text-align: right;
}

.results__users{
    position: relative;
    color: #999;
    padding-right: 20px;
}

.results__users::after{
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    right: -4px;
    background: url(human.svg) no-repeat;
}

.bar-chart{
    width: 130px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(201, 201, 201);
    position: relative;
}

.bar-chart__difference{
    font: 18px/120% Arial;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.bar-chart__base{
    width: 100%;
    height: 100%;
    fill: rgb(240, 240, 240);
}

.bar-chart__promoter-new,
.bar-chart__promoter-last,
.bar-chart__skeptic-new,
.bar-chart__skeptic-last,
.bar-chart__critic-new,
.bar-chart__critic-last{
    width: 0%;
    transition: width 1000ms;
}

.bar-chart__promoter-new{
    fill: #70a84b;
}

.bar-chart__promoter-last{
    fill: #abd191;
}

.bar-chart__skeptic-new{
    fill: #fcd329;
}

.bar-chart__skeptic-last{
    fill: #fde999;
}

.bar-chart__critic-new{
    fill: #d6442e;
}

.bar-chart__critic-last{
    fill: #f59d90;
}

@media (max-width: 768px) {
    .enps{
        max-width: 480px;
        width: 100%;
    }

    .enps__form,
    .enps__pie-chart{
        margin-bottom: 60px;
    }

    .form{
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    }

    .form__label{
        font: 12px 'Gotham Pro';
    }

    .form__text{
        font: 12px/30px 'Gotham Pro';
        height: 30px;
    }

    .form__submit{
        height: 30px;
        font: 12px/30px 'Gotham Pro';
        padding: 0 10px;
        grid-column: 1 / -1;
        grid-row: -2 / -1;
        justify-self: start;
    }

    .pie-chart{
        width: 280px;
        height: 280px;
    }

    .pie-chart__flag{
        width: 45px;
        top: -20px;
    }

    .pie-chart__text{
        padding-top: 30px
    }

    .pie-chart__percent-whole{
        font-size: 56px;
    }
    
    .pie-chart__percent-decimal{
        font-size: 28px;
    }
    
    .pie-chart__percent-whole::after{
        font-size: 20px;
        top: -13px;
    }
    
    .pie-chart__loyalty{
        font-size: 24px;
    }
    
    .pie-chart__level{
        font-size: 20px;
    }
    
    .pie-chart__segment{
        font-size: 13px;
    }
    
    .pie-chart__difference{
        padding-left: 25px;
        font-size: 20px;
    }

    .results{
        width: 260px;
    }

    .results__category,
    .results__amount{
        font-size: 12px;
        padding: 2px 0;
    }

    .bar-chart__difference{
        font-size: 12px;
    }

    .results__users{
        padding-right: 12px;
    }

    .results__users::after{
        width: 12px;
        height: 12px;
    }

    .bar-chart{
        width: 100px;
        height: 35px;;
    }
}